<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>home page</title>
  </head>
  <body>
    {{> header}}
    <p> this is welcome page</p>
    <p>welcome message{{welcomeMsg}}</p>

    {{> footer}}
  </body>
</html>
