<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>some website</title>
  </head>
  <body>
    {{> header}}
    <p> welcome to portfolio page</p>

    {{> footer}}
  </body>
</html>
